/* Main css */
body {
    font-family: 'Roboto', sans-serif;
    color:#403E3D;
}

h1 {
    color:black;
    text-align:center;
    margin-top:50%;
    margin-bottom:75%;
}


h3 {
    text-align:center;
    margin-top:8px
}

p, ul, a {
    text-align:center;
    text-decoration: none;
    color:#403E3D;
    font-style:italic;
    margin-top:4px;
    margin-bottom:4px;
}
/* Particles */

#particles-js {
    background:white;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    animation-delay: 1s;
    animation-duration: 5s;
}

/* media */

@media screen and (min-width:500px) {

  .container {
    flex-basis: 49%;
  }

}

@media screen and (min-width:750px) {
  .container {
    flex-basis: 49%;
    margin-bottom: 2%;
  }
  body {
      font-family: 'Roboto', sans-serif;
      color:#403E3D;
      text-align:center;
  }

  h1 {
      color:black;
      margin-top:10%;
      margin-bottom:6%;
      text-align:center;
  }

  h3 {
      text-align:center;
      margin-top:100px;
  }

  a {
      text-decoration: none;
      color:#403E3D;
      font-style:italic;
  }

  ul {
      list-style-type:none;
      text-align:center;
  }

  #wrapper {
      max-width: 1300px;
      background-color: #fff;
      margin: 40px auto 0 auto;
      padding: 20px 50px;
      display:flex;
  }
