
/* Main css */
body {
    font-family: 'Roboto', sans-serif;
    width:900px;
    float:none;
    height:900px;
    color:#403E3D;
}


a {
    text-decoration: none;
    color:#403E3D;
    font-style:italic;
}

ul {
    list-style-type: none;
}

#wrapper {
  margin: 0 auto;
  background: white;
  padding: 50px;
  box-sizing: border-box; }

#headertext {
    text-align:center;
    margin-top:10%;
}

/* Particles */

#particles-js {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
}
